<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/navbar :: headerFragment">
    <meta charset="UTF-8">
    <title id="pageTitle">Redigér produkt</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<form action="/products/update" th:object="${valueList}" method="post">
    <table>
        <tr>
            <td>Navn:</td>
            <td><input type="text" th:field="${product.name}"></td>
        </tr>
        <tr>
            <td>Beskrivelse:</td>
            <td><input type="text" th:field="${product.description}"></td>
        </tr>
        <tr>
            <td>Pris:</td>
            <td><input type="number" th:field="${product.price}"></td>
        </tr>
        <tr>
            <td>Billede-URL:</td>
            <td><input type="text" th:field="${product.pictureURL}"></td>
        </tr>
    </table>
    <table>
        <tr th:each="v, stat: *{values}">
            <td th:text="${v.attribute.label}"/>
            <td>
                <input type="text" th:field="*{values[__${stat.index}__].value}">
                <input type="hidden" th:field="*{values[__${stat.index}__].id}">
                <input type="hidden" th:field="*{values[__${stat.index}__].product.id}">
                <input type="hidden" th:field="*{values[__${stat.index}__].type.id}">
                <input type="hidden" th:field="*{values[__${stat.index}__].type.label}">
                <input type="hidden" th:field="*{values[__${stat.index}__].attribute.id}">
                <input type="hidden" th:field="*{values[__${stat.index}__].attribute.label}">
                <input type="hidden" th:field="*{values[__${stat.index}__].attribute.type}">
            </td>
        </tr>
    </table>
    <button type="submit">Gem ændringer</button>
</form>
</body>
</html>