<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/navbar :: headerFragment">
    <meta charset="UTF-8">
    <title id="pageTitle">Produkter</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<table class="table">
    <thead>
    <th>Navn</th>
    <th>Pris</th>
    <th>Lagerbeholdning</th>
    <th></th>
    <th></th>
    <th></th>
    </thead>
    <tr th:each="s : ${stock}">
        <td th:text="${s.product.name}"></td>
        <td th:text="${s.product.price}"></td>
        <!--<td><input name="productId" type="text" th:value="${s.stockAmount}"></td>-->
        <td>
            <form action="/products/stock/edit" method="post">
                <input type="hidden" name="stockId" th:value="${s.id}">
                <input name="stockAmount" type="text" th:value="${s.stockAmount}">
                <button type="submit" id="s.id" value="productId" class="btn btn-primary">Opdatér lager</button>
            </form>
        </td>
        <td>
            <form action="/products/edit" method="get">
                <button type="submit" name="id" th:value="${s.product.id}" class="btn btn-primary">Redigér produkt</button>
            </form>
        </td>
        <td>
            <form action="/cart/add" method="post">
                <button type="submit" name="id" th:value="${s.product.id}" class="btn btn-success">Tilføj til kurv</button>
            </form>
        </td>
        <td>
            <form action="/products/delete" method="post">
                <button onclick="return confirm('Ønsker du at slette dette produkt?')" type="submit" name="id" th:value="${s.product.id}" class="btn btn-danger">Slet</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>