<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/navbar :: headerFragment">
    <meta charset="UTF-8">
    <title id="pageTitle">Reset Password</title>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container" style="max-width: 600px">
        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">
                        Nulstil Adgangskode
                    </h5>
<!--                    <h6 class="card-subtitle text-muted mb-2">Ændr dine brugeroplysninger</h6>-->
                    <form action="/user/update-password" method="post">
                        <div class="form-row">
                            <label for="password">Nuværende adgangskode</label>
                            <input name="password" type="password" class="form-control" id="password" placeholder="Nuværende adgangskode">
                        </div>
                        <div class="form-row mt-3">
                            <label for="new-password">Ny adgangskode</label>
                            <input name="newPassword" type="password" class="form-control" id="new-password" placeholder="Ny adgangskode">
                        </div>
                        <div class="form-row mt-3">
                            <label for="password-confirm">Bekræft adgangskode</label>
                            <input name="passwordConfirm" type="password" class="form-control" id="password-confirm" placeholder="Bekræft adgangskode">
                        </div>
                        <button class="btn btn-primary mt-3" type="submit">Nulstil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var password = document.getElementById("new-password")
        , confirm_password = document.getElementById("password-confirm");

    function validatePassword(){
        if(password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("Adgangskoderne er ikke ens");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
</html>