<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/navbar :: headerFragment">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title id="pageTitle">Opret Konto</title>
</head>
<body onload="myFunction()">
<div th:replace="fragments/navbar :: navbar"></div>

<dialog style="width: 340px; height: auto" id="myDialog">
    <div class="modal-header">
        <h5 class="modal-title">Terms and Policy Agreement</h5>
    </div>
    <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <br>
    <div class="modal-footer">
        <a style="position: center" onclick="removeDialog()" type="button" class="btn btn-success">Acceptér</a>
        <a style="position: center" href="/" onclick="return confirm('Er du sikker på dit valg?')" type="button" class="btn btn-secondary">Cancel</a>
    </div>
</dialog>

<div class="container">
    <div class="col-md-12">
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">
                    Opret konto
                </h5>

                <form action="/create" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="first-name">Fornavn</label>
                            <input type="text" class="form-control" id="first-name" placeholder="Fornavn" th:field="${user.firstName}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="last-name">Efternavn</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Efternavn" th:field="${user.lastName}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" th:field="${user.email}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="password">Adgangskode</label>
                            <input type="password" class="form-control" id="password" placeholder="Adgangskode" th:field="${user.password}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password-confirm">Bekræft adgangskode</label>
                            <input type="password" class="form-control" id="password-confirm" placeholder="Adgangskode">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="street">Gadenavn</label>
                            <input type="text" class="form-control" id="street" placeholder="Gadenavn" th:field="${address.street}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="number">Husnummer</label>
                            <input type="text" class="form-control" id="number" placeholder="Husnummer, etage, dørnummer" th:field="${address.streetNumber}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city">By</label>
                            <input type="text" class="form-control" id="city" placeholder="By" th:field="${zip.city}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="zip">Postnummer</label>
                            <input type="text" class="form-control" id="zip" placeholder="Postnummer" th:field="${zip.zipCode}">
                        </div>
                    </div>
                    <input type="hidden" th:field="${user.roles}">
                    <button class="btn btn-primary" type="submit">Opret Konto</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("password-confirm");

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Adgangskoderne er ikke ens");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

   let dialog;
   function myFunction() {
            dialog = document.getElementById("myDialog").showModal();
            console.log("Modal showed")
    }
    function removeDialog() {
        dialog = document.getElementById("myDialog");
        dialog.remove();
        console.log("Dialog has been removed")
    }
</script>
</body>
</html>