<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/navbar :: headerFragment">
    <meta charset="UTF-8">
    <title id="pageTitle">Redigér produkttype</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<form action="/productTypes/update" method="post" th:object="${attributeList}">
    <table class="table table-striped">
        <input type="hidden" th:field="${type.id}">
        <tr>
            <td><label>Produkttype:</label></td>
            <td><input type="text" th:field="${type.label}"></td>
            <td></td>
        </tr>

        <tr th:each="attribute, stat : *{attributes}">
            <input type="hidden" th:field="*{attributes[__${stat.index}__].id}">
            <input type="hidden" th:field="*{attributes[__${stat.index}__].type}">
            <td th:text="'Attribut ' + ${stat.index + 1} + ':'"></td>
            <td><input type="text" th:field="*{attributes[__${stat.index}__].label}"></td>
            <td><button
                    formaction="/productTypes/deleteAttribute"
                    formmethod="post"
                    th:value="*{attributes[__${stat.index}__].id}"
                    name="attributeId"
                    class="btn btn-danger"
            >Slet</button></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-success">Gem ændringer</button>
</form>

</body>
</html>