<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Produkttyper</title>
</head>
<body>
<table class="table">
    <thead>
    <th>Type</th>
    <th></th>
    </thead>
    <tr th:each="type : ${types}">
        <td th:text="${type.label}"></td>
        <td>
            <form action="/productTypes/edit" method="post">
                <button type="submit" name="id" id="id" th:value="${type.id}" class="btn btn-primary">Redigér</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>