<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create new product type</title>
</head>
<body>

<form action="/productTypes/create" method="post" id="newProductTypeForm">
    <table>
        <tr>
            <td><label>Name:</label></td>
            <td><input type="text" id="name" name="name"></td>
            <td><input type="hidden" th:value="${productType.id}" name="productTypeId"></td>
        </tr>
        <tr>
            <td>
                <select id="attributes" multiple th:field="*{productType.productAttributes}" >
                    <option
                            th:each="attribute: ${attributes}"
                            th:text="${attribute.name}"
                            th:value="${attribute.id}">
                    </option>
                </select>
            </td>
        </tr>
    </table>
</form>
<button type="submit" form="newProductTypeForm" value="Submit">Tilføj produkttype</button>

</body>
</html>